{% extends 'base.html' %}
{% load static %}

{% block content %}

<main class="account-page-wrapper">
  <div class="account-container">
    <!-- Tabs Navigation -->
    <div class="account-tabs">
        <div class="account-tab ">
            <a href="{% url 'accounts:order_history' %}">Orders History</a>
         </div>
        <div class="account-tab active">
            <a href="{% url 'accounts:account_info' %}">Account Information</a>
        </div>
    </div>
    <div class="tab-content">
        <!-- Account Information Panel -->
        <div id="account-info" class="tab-pane active">
            <div class="account-form-container">
                <h2 class="account-form-title">Personal Info</h2>
                <form method="post" id="account-info-form">
                    {% csrf_token %}
                
                    <div class="checkout-form-group">
                        <label for="{{ form.full_name.id_for_label }}">Full Name</label>
                        {{ form.full_name }}
                    </div>
                    <div class="checkout-form-group">
                        <label>Email</label>
                        {{ form.email }}
                    </div>
                    <div class="checkout-form-group">
                        <label>Phone number</label>
                        {{ form.phone_number }}
                    </div>

                    <div class="checkout-form-group">
                        <label>City</label>
                        {{ form.city }}
                    </div>

                    <div class="checkout-form-group">
                        <label>Shipping address</label>
                        {{ form.address }}
                    </div>

                    <button class="button button--primary button--full-width">
                        Save
                    </button>
                </form>
                <a href="{% url 'accounts:change_password' %}" class="button button--secondary button--full-width" id="change-password-button">Change Password</a>
            <a href="{% url 'accounts:logout' %}" class="button button--secondary button--full-width" id="logout-button">Logout</a>
        </div>
      </div>

    </div>



</div>
</main>
{% endblock %}

